$title-color: #423d3d;
$paragraph-color: #867b7b;

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  color: $paragraph-color;
  box-sizing: border-box !important;
  font-family: "Lato", sans-serif;
  h1,
  h2,
  h3,
  h4 {
    font-family: "Open Sans Condensed", sans-serif;
    color: $title-color;
  }
}

.Main__container {
  max-width: 85%;
  margin: auto;
}

.Header {
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dedddd;
  &__title h1 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 30px;
  }
  &__icon--menu i {
    color: #676161;
    font-size: 30px;
    display: none;
  }
  &__menu {
    nav > ul {
      display: flex;
      align-items: center;
      li {
        margin: 0 1em;
        a {
          color: $title-color;
          text-transform: uppercase;
          font-size: 15px;
          padding-right: 25px;
          position: relative;
          transition: all .3s;
          &:after {
            content: '';
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-top: 5px solid;
            position: absolute;
            margin-left: 10px;
            top: 5px;
            vertical-align: middle;
            vertical-align: calc(-50% - 4px );
          }
          &:hover {
            color: #20d8e2;
          }
        }
      }
    }
  }
  &__main--image {
    width: 100%;
    margin: 0;
    img {
      width: 100%;
      height: auto;
    }
  }
}

.Home__custom__posts {
  padding: 3em 0;
  &--items {
    display: grid;
    grid-template-columns: repeat(3,25%);
    grid-template-rows: repeat(2,18em);
    grid-gap: 3em;
    justify-content: center;
    align-items: center;
    li {
      width: 100%;
      border: 1px solid #dedddd;
      transition: all .3s;
      figure {
        margin: 0;
        img {
          width: 100%;
          height: auto;
        }
      }
      .Custom__post--title {
        padding: 1em;
        h2 {
          margin: 0;
          text-transform: uppercase;
          font-weight: 500;
        }
      }
      &:hover {
        box-shadow: 0 3px 6px -4px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      }
    }
  }
  &--nav {
    margin: 0 0 3em 0;
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      li {
        margin: 0 1.5em;
        a {
          color: $title-color;
          text-transform: uppercase;
          font-size: 16px;
          transition: all .3s;
          &:hover {
            color: #20d8e2;
          }
        }
      }
    } 
  }
}


.Home__latest__publications {
  background: #f7f7f7;
  padding: 4em 0;
  .Latests__publications--title{
    width: 50%;
    margin: auto;
    text-align: center;
    h2 {
      width: 25%;
      margin: auto;
      padding-bottom: .5em;
      text-transform: uppercase;
      font-size: 30px;
      font-weight: 600;
      border-bottom: 1px solid gray;
    }
    p{
      letter-spacing: 1px;
      line-height: 25px;
    }
  }
  ul {
    padding: 2em 10% 0;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-gap: 0 5%;
    li {
      width: 100%;
      border: 1px solid #dedddd;
      background: #fff;
      transition: all .3s;
      &:hover {
        box-shadow: 0 3px 6px -4px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      }
      a {
        img {
          width: 100%;
        }
        .Article__description {
          padding: 1em 1em 0;
          h3 {
            margin-top: 0;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 25px;
          }
          p,
          span {
            color: $paragraph-color;
            line-height: 25px;
          }
        }
        .Article--actions {
          padding: 0 1em 1em;
          display: flex;
          color: $paragraph-color;
          justify-content: space-between;
          align-items: center;
          div {
            border-top: 1px solid #a29e9e;
            padding-top: 0.5em;
          }
          span {
            margin: 0 0.2em;
            font-size: 20px;
          }
          p {
            color: #bbb8b8;
            font-size: 14px;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}

.Footer {
  padding: 1.5em 0;
  text-align: center;
  border-top: 1px solid #dedddd;
  &__title h1 {
    width: 6%;
    margin: auto;
    text-transform: uppercase;
    padding-bottom: 0.3em;
    border-bottom: 1px solid $title-color;
    font-weight: 500;
  }
  &__social {
    width: 100%;
    &--icons {
      margin: 2em 0;
      display: flex;
      justify-content: center;
      li {
        transition: all 0.3s;
        &:hover {
          transform: scale(0.9);
        }
        a {
          border: 1px solid #867b7b;
          border-radius: 50%;
          padding: 0.6em 0.8em;
          margin: 0 0.5em;
          color: #867b7b;
        }
      }
    }
  }
  p {
    text-transform: uppercase;
    span {
      color: #20d8e2;
    }
  }
}
