$title-color: #423d3d;
$paragraph-color: #867b7b;

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

input,
textarea,
button {
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  color: $paragraph-color;
  box-sizing: border-box !important;
  font-family: "Lato", sans-serif;
  h1,
  h2,
  h3,
  h4,
  input,
  textarea {
    font-family: "Open Sans Condensed", sans-serif;
    color: $title-color;
  }
}

.Main__container {
  max-width: 85%;
  margin: auto;
}

.Header {
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dedddd;
  &__title h1 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 30px;
  }
  &__icon--menu {
    display: none;
    i {
      color: #676161;
      font-size: 30px;
    }
  }
  &__menu {
    nav > ul {
      display: flex;
      align-items: center;
      li {
        margin: 0 1em;
        a {
          color: $title-color;
          text-transform: uppercase;
          font-size: 15px;
          padding-right: 25px;
          position: relative;
          transition: all 0.3s;
          &:after {
            content: "";
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-top: 5px solid;
            position: absolute;
            margin-left: 10px;
            top: 5px;
            vertical-align: middle;
            vertical-align: calc(-50% - 4px);
          }
          &:hover {
            color: #20d8e2;
          }
        }
      }
    }
  }
  &__main--image {
    width: 100%;
    margin: 0;
  }
}

.Home__custom__posts {
  padding: 3em 0;
  &--items {
    display: grid;
    grid-template-columns: repeat(3, 25%);
    grid-template-rows: repeat(2, 18em);
    grid-gap: 3em;
    justify-content: center;
    align-items: center;
    li {
      width: 100%;
      border: 1px solid #dedddd;
      transition: all 0.3s;
      figure {
        margin: 0;
      }
      .Custom__post--title {
        padding: 1em;
        h2 {
          margin: 0;
          text-transform: uppercase;
          font-weight: 500;
        }
      }
      &:hover {
        box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.16),
          0 3px 6px rgba(0, 0, 0, 0.23);
      }
    }
  }
  &--nav {
    margin: 0 0 3em 0;
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      li {
        margin: 0 1.5em;
        a {
          color: $title-color;
          text-transform: uppercase;
          font-size: 16px;
          transition: all 0.3s;
          &:hover {
            color: #20d8e2;
          }
        }
      }
    }
  }
}

.Home__latest__publications {
  background: #f7f7f7;
  padding: 4em 0;
  .Latests__publications--title {
    width: 50%;
    margin: auto;
    text-align: center;
    h2 {
      width: 25%;
      margin: auto;
      padding-bottom: 0.5em;
      text-transform: uppercase;
      font-size: 30px;
      font-weight: 600;
      border-bottom: 1px solid gray;
    }
    p {
      letter-spacing: 1px;
      line-height: 25px;
    }
  }
  ul {
    padding: 2em 10% 0;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-gap: 0 5%;
    li {
      width: 100%;
      border: 1px solid #dedddd;
      background: #fff;
      transition: all 0.3s;
      &:hover {
        box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.16),
          0 3px 6px rgba(0, 0, 0, 0.23);
      }
      a {
        img {
          width: 100%;
        }
        .Article__description {
          padding: 1em 1em 0;
          h3 {
            margin-top: 0;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 25px;
          }
          p,
          span {
            color: $paragraph-color;
            line-height: 25px;
          }
        }
        .Article--actions {
          padding: 0 1em 1em;
          display: flex;
          color: $paragraph-color;
          justify-content: space-between;
          align-items: center;
          div {
            border-top: 1px solid #a29e9e;
            padding-top: 0.5em;
          }
          span {
            margin: 0 0.2em;
            font-size: 20px;
          }
          p {
            color: #bbb8b8;
            font-size: 14px;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}

.Article__page {
  h1 {
    text-transform: uppercase;
  }
  &__content {
    figure {
      margin: 0;
    }
    article {
      max-width: 85%;
      margin: auto;
    }
  }
  &--title {
    padding: 0 2em;
    text-align: center;
  }
}

.Single__post {
  h1 {
    text-align: left;
    text-transform: uppercase;
    font-size: 30px;
  }
  &__article {
    padding: 5em 5em 0;
    background: #f7f7f7;
    display: flex;
    .Single__post__content--filters {
      margin: 0 2em 0 0;
      .Search {
        background: #fff;
        padding: 1em;
        box-shadow: rgba(0, 0, 0, 0.16) 0 5px 10px;
        > h3 {
          width: 30%;
          padding-bottom: 0.5em;
          margin-top: 0;
          text-transform: uppercase;
          border-bottom: 1px solid gray;
        }
        form {
          display: flex;
          input {
            padding: 0.5em;
            border: 1px solid #cec3c3;
          }
          button {
            background: transparent;
            border: 1px solid #cec3c3;
          }
        }
      }
      .Single__recent__posts {
        background: #fff;
        padding: 1em;
        box-shadow: rgba(0, 0, 0, 0.16) 0 5px 10px;
        margin: 1em 0;
        h3 {
          width: 60%;
          padding-bottom: 0.5em;
          margin-top: 0;
          text-transform: uppercase;
          border-bottom: 1px solid gray;
        }
        li {
          margin: 1em 0;
          a {
            display: flex;
            justify-content: space-between;
            align-items: center;
            img {
              width: 45%;
            }
            .Article__description {
              width: 50%;
              h4 {
                font-weight: 500;
                text-transform: uppercase;
              }
            }
          }
        }
      }
    }
  }
  &__content {
    background: #fff;
    border: 1px solid #dedddd;
    figure {
      margin: 0;
    }
    .Single__post--title,
    article {
      padding: 0 2em;
      blockquote {
        border-left: 5px solid gray;
        padding-left: 1em;
        border-radius: 0.3em;
      }
    }
    p {
      line-height: 25px;
    }
  }
  &--comments {
    padding: 1em 5em;
    background: #f7f7f7;
    .comment-respond {
      width: 75%;
      margin-left: auto;
      form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        .comment-form-comment {
          width: 100%;
        }
        .comment-form-author,
        .comment-form-email {
          width: 45%;
        }
        .comment-form-url {
          display: none;
        }
        textarea,
        input {
          width: 100%;
          padding: 0.5em;
          border: 1px solid #cec3c3;
          margin: 1em 0;
          font-size: 16px;
        }
        .required {
          color: red;
        }
        .form-submit {
          text-align: center;
          width: 100%;
          .submit {
            width: 25%;
            background: #20d8e2;
            color: #fff;
            text-transform: uppercase;
            font-weight: 600;
          }
        }
      }
    }
    .avatar {
      width: auto;
    }
    .commentmetadata a,
    .comment-reply-link {
      color: $title-color;
    }
    .commentlist .comment {
      background: #fff;
      border: 1px solid #dedddd;
      padding: 1em;
    }
    .comment-reply-title {
      text-transform: uppercase;
    }
  }
}

.Page--error {
  a {
    color: #20d8e2;
  }
}

.Search__results {
  h1 {
    text-transform: uppercase;
  }
  &--cards {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    li {
      width: 30%;
      margin: 1em;
      border: 1px solid #dedddd;
      background: #fff;
      transition: all 0.3s;
    }
    &__content {
      padding: 1em;
      h2 {
        margin-top: 0;
        text-transform: uppercase;
        font-weight: 500;
      }
    }
    &__extract {
      p {
        color: $paragraph-color;
      }
    }
  }
}

.Footer {
  padding: 1.5em 0;
  text-align: center;
  border-top: 1px solid #dedddd;
  &__title h1 {
    width: 6%;
    margin: auto;
    text-transform: uppercase;
    padding-bottom: 0.3em;
    border-bottom: 1px solid $title-color;
    font-weight: 500;
  }
  &__social {
    width: 100%;
    &--icons {
      margin: 2em 0;
      display: flex;
      justify-content: center;
      li {
        transition: all 0.3s;
        &:hover {
          transform: scale(0.9);
        }
        a {
          border: 1px solid #867b7b;
          border-radius: 50%;
          padding: 0.6em 0.8em;
          margin: 0 0.5em;
          color: #867b7b;
        }
      }
    }
  }
  p {
    text-transform: uppercase;
    span {
      color: #20d8e2;
    }
  }
}

.Active {
  display: block !important;
  height: 100vh;
  width: 100vw;
  background: rgba(10, 10, 10, 0.8);
  transition: all 0.3s ease 0s;
  padding-top: 2em;
  color: #fff;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
}

@media only screen and (max-device-width: 768px) {
  .Home__custom__posts--nav ul li {
    margin: 0 1.2em;
    padding: 1em 0;
  }
  .Home__custom__posts--items {
    display: flex;
    flex-direction: column;
    padding: 0 10%;
  }
  .Home__latest__publications .Latests__publications--title {
    width: auto;
    padding: 0 2em;
  }
  .Home__latest__publications ul {
    display: flex;
    padding: 0;
    flex-direction: column;
    width: 100%;
    margin: 1.5em 0;
    li {
      width: 80%;
      margin: 1.5em auto;
    }
  }
  .Single__post__article {
    flex-direction: column;
    padding: 5em 3em 0;
    .Single__post__content--filters {
      margin: 0;
      .Search {
        > h3 {
          width: 10%;
        }
        form input {
          width: 100%;
        }
      }
      .Single__recent__posts h3 {
        width: 18%;
      }
    }
  }
  .Single__post--comments .comment-respond {
    width: 100%;
  }
  .Single__post--comments .comment-respond form .comment-form-author,
  .Single__post--comments .comment-respond form .comment-form-email {
    width: 100%;
  }
  .Single__post--comments .comment-respond form .form-submit .submit {
    width: 30%;
  }
  .Header__menu nav {
    display: none;
  }
  .Header__icon--menu {
    display: block;
  }
  .Header__menu nav > ul.Active li a {
    margin: auto;
    color: #fff;
    position: relative;
    z-index: 9999;
  }
  .Header__menu nav > ul li {
    padding: 1.5em 0;
  }
  .Home__custom__posts--nav ul {
    flex-direction: column;
  }
  .Search__results--cards {
    flex-direction: column;
    li {
      width: 90%;
    }
  }
}

@media only screen and (max-device-width: 480px) {
  .Single__post--comments .comment-respond form .form-submit .submit {
    width: 55%;
  }
}
